
.sans7 {font-family: Helvetica,  Arial, sans-serif; font-size: 7px}
.sans8 {font-family: Helvetica,  Arial, sans-serif; font-size: 8px}
.sans9 {font-family: Helvetica,  Arial, sans-serif; font-size: 9px}
.sans10 {font-family: Helvetica,  Arial, sans-serif; font-size: 10px}
.sans11 {font-family: Helvetica,  Arial, sans-serif; font-size: 11px}
.sans12 {font-family: Helvetica,  Arial, sans-serif; font-size: 12px}
.sans13 {font-family: Helvetica,  Arial, sans-serif; font-size: 13px}
.sans14 {font-family: Helvetica,  Arial, sans-serif; font-size: 14px}
.sans15 {font-family: Helvetica,  Arial, sans-serif; font-size: 15px}
.sans16 {font-family: Helvetica,  Arial, sans-serif; font-size: 16px} 
.sans17 {font-family: Helvetica,  Arial, sans-serif; font-size: 17px}
.sans18 {font-family: Helvetica,  Arial, sans-serif; font-size: 18px}
.sans20 {font-family: Helvetica,  Arial, sans-serif; font-size: 20px}
.sans24 {font-family: Helvetica,  Arial, sans-serif; font-size: 24px}
.sans28 {font-family: Helvetica,  Arial, sans-serif; font-size: 28px}
.sans32 {font-family: Helvetica,  Arial, sans-serif; font-size: 32px}

.times7 {font-family: Times New Roman, Times, serif; font-size: 7px}
.times8 {font-family: Times New Roman, Times, serif; font-size: 8px}
.times9 {font-family: Times New Roman, Times, serif; font-size: 9px}
.times10 {font-family: Times New Roman, Times, serif; font-size: 10px}
.times11 {font-family: Times New Roman, Times, serif; font-size: 10px}
.times12 {font-family: Times New Roman, Times, serif; font-size: 12px}
.times13 {font-family: Times New Roman, Times, serif; font-size: 13px}
.times14 {font-family: Times New Roman, Times, serif; font-size: 14px}
.times15 {font-family: Times New Roman, Times, serif; font-size: 15px}
.times16 {font-family: Times New Roman, Times, serif; font-size: 16px}
.times17 {font-family: Times New Roman, Times, serif; font-size: 17px} 
.times18 {font-family: Times New Roman, Times, serif; font-size: 18px}
.times20 {font-family: Times New Roman, Times, serif; font-size: 20px}
.times24 {font-family: Times New Roman, Times, serif; font-size: 24px}
.times28 {font-family: Times New Roman, Times, serif; font-size: 28px}
.times32 {font-family: Times New Roman, Times, serif; font-size: 32px}

.courier7 {font-family: Courier New, Courier, mono; font-size: 7px}
.courier8 {font-family: Courier New, Courier, mono; font-size: 8px}
.courier9 {font-family: Courier New, Courier, mono; font-size: 9px}
.courier10 {font-family: Courier New, Courier, mono; font-size: 10px}
.courier11 {font-family: Courier New, Courier, mono; font-size: 11px}
.courier12 {font-family: Courier New, Courier, mono; font-size: 12px}
.courier13 {font-family: Courier New, Courier, mono; font-size: 13px}
.courier14 {font-family: Courier New, Courier, mono; font-size: 14px}
.courier15 {font-family: Courier New, Courier, mono; font-size: 15px}
.courier16 {font-family: Courier New, Courier, mono; font-size: 16px} 
.courier17 {font-family: Courier New, Courier, mono; font-size: 17px}
.courier18 {font-family: Courier New, Courier, mono; font-size: 18px}
.courier20 {font-family: Courier New, Courier, mono; font-size: 20px}
.courier24 {font-family: Courier New, Courier, mono; font-size: 24px}
.courier28 {font-family: Courier New, Courier, mono; font-size: 28px}
.courier32 {font-family: Courier New, Courier, mono; font-size: 32px}

.greysans {font-family: Helvetica,  Arial, sans-serif; font-size: 9px; color: #666666}
.greysans:link {color: #666666; text-decoration : none !important}
.greysans:visited {color: #666666; text-decoration : none !important}
.greysans:hover {color: #999999; text-decoration : none !important}

.redsans {font-family: Helvetica,  Arial, sans-serif; font-size: 9px; color: #CC0000}
.redsans:link {color: #CC0000; text-decoration : none !important}
.redsans:visited {color: #CC0000; text-decoration : none !important}
.redsans:hover {color: #FF0000; text-decoration : none !important}
 
.bluesans {font-family: Helvetica,  Arial, sans-serif; font-size: 9px; color: #0033FF}
.bluesans:link {color: #0033FF; text-decoration : none !important}
.bluesans:visited {color: #0033FF; text-decoration : none !important}
.bluesans:hover {color: #0066FF; text-decoration : none !important}

.greensans {font-family: Helvetica,  Arial, sans-serif; font-size: 9px; color: #00CC00}
.greensans:link {color: #00CC00; text-decoration : none !important}
.greensans:visited {color: #00CC00; text-decoration : none !important}
.greensans:hover {color: #00FF00; text-decoration : none !important}

.yellowsans {font-family: Helvetica,  Arial, sans-serif; font-size: 9px; color: #CCFF00}
.yellowsans:link {color: #CCFF00; text-decoration : none !important}
.yellowsans:visited {color: #CCFF00; text-decoration : none !important}
.yellowsans:hover {color: #FFFF66; text-decoration : none !important}

.purplesans {font-family: Helvetica,  Arial, sans-serif; font-size: 9px; color: #660066}
.purplesans:link {color: #660066; text-decoration : none !important}
.purplesans:visited {color: #660066; text-decoration : none !important}
.purplesans:hover {color: #990099; text-decoration : none !important}

.brownsans {font-family: Helvetica,  Arial, sans-serif; font-size: 9px; color: #663300}
.brownsans:link {color: #663300; text-decoration : none !important}
.brownsans:visited {color: #663300; text-decoration : none !important}
.brownsans:hover {color: #996600; text-decoration : none !important}

.orangesans {font-family: Helvetica,  Arial, sans-serif; font-size: 9px; color: #FF6600}
.orangesans:link {color: #FF6600; text-decoration : none !important}
.orangesans:visited {color: #FF6600; text-decoration : none !important}
.orangesans:hover {color: #FF9900; text-decoration : none !important}


.greyserif {font-family: Times New Roman, Times, serif; font-size: 9px; color: #666666}
.greyserif:link {color: #666666; text-decoration : none !important}
.greyserif:visited {color: #666666; text-decoration : none !important}
.greyserif:hover {color: #999999; text-decoration : none !important}

.redserif {font-family: Times New Roman, Times, serif; font-size: 9px; color: #CC0000}
.redserif:link {color: #CC0000; text-decoration : none !important}
.redserif:visited {color: #CC0000; text-decoration : none !important}
.redserif:hover {color: #FF0000; text-decoration : none !important}
 
.blueserif {font-family: Times New Roman, Times, serif; font-size: 9px; color: #0033FF}
.blueserif:link {color: #0033FF; text-decoration : none !important}
.blueserif:visited {color: #0033FF; text-decoration : none !important}
.blueserif:hover {color: #0066FF; text-decoration : none !important}

.greenserif {font-family: Times New Roman, Times, serif; font-size: 9px; color: #00CC00}
.greenserif:link {color: #00CC00; text-decoration : none !important}
.greenserif:visited {color: #00CC00; text-decoration : none !important}
.greenserif:hover {color: #00FF00; text-decoration : none !important}

.yellowserif {font-family: Times New Roman, Times, serif; font-size: 9px; color: #CCFF00}
.yellowserif:link {color: #CCFF00; text-decoration : none !important}
.yellowserif:visited {color: #CCFF00; text-decoration : none !important}
.yellowserif:hover {color: #FFFF66; text-decoration : none !important}

.purpleserif {font-family: Times New Roman, Times, serif; font-size: 9px; color: #660066}
.purpleserif:link {color: #660066; text-decoration : none !important}
.purpleserif:visited {color: #660066; text-decoration : none !important}
.purpleserif:hover {color: #990099; text-decoration : none !important}

.brownserif {font-family: Times New Roman, Times, serif; font-size: 9px; color: #663300}
.brownserif:link {color: #663300; text-decoration : none !important}
.brownserif:visited {color: #663300; text-decoration : none !important}
.brownserif:hover {color: #996600; text-decoration : none !important}

.orangeserif {font-family: Times New Roman, Times, serif; font-size: 9px; color: #FF6600}
.orangeserif:link {color: #FF6600; text-decoration : none !important}
.orangeserif:visited {color: #FF6600; text-decoration : none !important}
.orangeserif:hover {color: #FF9900; text-decoration : none !important}


.greycourier {font-family: Courier New, Courier, mono; font-size: 9px; color: #666666}
.greycourier:link {color: #666666; text-decoration : none !important}
.greycourier:visited {color: #666666; text-decoration : none !important}
.greycourier:hover {color: #999999; text-decoration : none !important}

.redcourier {font-family: Courier New, Courier, mono; font-size: 9px; color: #CC0000}
.redcourier:link {color: #CC0000; text-decoration : none !important}
.redcourier:visited {color: #CC0000; text-decoration : none !important}
.redcourier:hover {color: #FF0000; text-decoration : none !important}
 
.bluecourier {font-family: Courier New, Courier, mono; font-size: 9px; color: #0033FF}
.bluecourier:link {color: #0033FF; text-decoration : none !important}
.bluecourier:visited {color: #0033FF; text-decoration : none !important}
.bluecourier:hover {color: #0066FF; text-decoration : none !important}

.greencourier {font-family: Courier New, Courier, mono; font-size: 9px; color: #00CC00}
.greencourier:link {color: #00CC00; text-decoration : none !important}
.greencourier:visited {color: #00CC00; text-decoration : none !important}
.greencourier:hover {color: #00FF00; text-decoration : none !important}

.yellowcourier {font-family: Courier New, Courier, mono; font-size: 9px; color: #CCFF00}
.yellowcourier:link {color: #CCFF00; text-decoration : none !important}
.yellowcourier:visited {color: #CCFF00; text-decoration : none !important}
.yellowcourier:hover {color: #FFFF66; text-decoration : none !important}

.purplecourier {font-family: Courier New, Courier, mono; font-size: 9px; color: #660066}
.purplecourier:link {color: #660066; text-decoration : none !important}
.purplecourier:visited {color: #660066; text-decoration : none !important}
.purplecourier:hover {color: #990099; text-decoration : none !important}

.browncourier {font-family: Courier New, Courier, mono; font-size: 9px; color: #663300}
.browncourier:link {color: #663300; text-decoration : none !important}
.browncourier:visited {color: #663300; text-decoration : none !important}
.browncourier:hover {color: #996600; text-decoration : none !important}

.orangecourier {font-family: Courier New, Courier, mono; font-size: 9px; color: #FF6600}
.orangecourier:link {color: #FF6600; text-decoration : none !important}
.orangecourier:visited {color: #FF6600; text-decoration : none !important}
.orangecourier:hover {color: #FF9900; text-decoration : none !important}


.tablegreen {font-family: Arial, Helvetica, sans-serif; font-size: 9px; background-color: #225522}
.tdltgrey {font-family: Arial, Helvetica, sans-serif; font-size: 9px; background-color: #222222; background-image: url(greyteevee.jpg);  text-indent: 0px}
.tddkgrey {font-family: Arial, Helvetica, sans-serif; font-size: 9px; background-color: #111111; background-image: url(dkgreyteevee.jpg);  text-indent: 0px}


.tableblack {font-family: Arial, Helvetica, sans-serif; font-size: 9px; background-color: #333333}
.tdgrey4 {background-color: #111111}
.tdgrey5 {background-color: #000000}

.tablewhite {font-family: Arial, Helvetica, sans-serif; font-size: 9px; background-color: #FFFFFF}
.tdgrey2 {background-color: #999999}
.tdgrey3 {background-color: #DDDDDD}


.text7 {font-family: Helvetica,  Arial, sans-serif; font-size: 7px}
.text8 {font-family: Helvetica,  Arial, sans-serif; font-size: 8px}
.text9 {font-family: Helvetica,  Arial, sans-serif; font-size: 9px; text-indent: 0px}
.text10 {font-family: Helvetica,  Arial, sans-serif; font-size: 10px}
.text11 {font-family: Helvetica,  Arial, sans-serif; font-size: 11px}
.text12 {font-family: Helvetica,  Arial, sans-serif; font-size: 12px}
.text13 {font-family: Helvetica,  Arial, sans-serif; font-size: 13px}
.text14 {font-family: Helvetica,  Arial, sans-serif; font-size: 14px}
.text15 {font-family: Helvetica,  Arial, sans-serif; font-size: 15px}
.text16 {font-family: Helvetica,  Arial, sans-serif; font-size: 16px} 
.text17 {font-family: Helvetica,  Arial, sans-serif; font-size: 17px} 
.text18 {font-family: Helvetica,  Arial, sans-serif; font-size: 18px}
.text20 {font-family: Helvetica,  Arial, sans-serif; font-size: 20px}
.text24 {font-family: Helvetica,  Arial, sans-serif; font-size: 24px}
.text28 {font-family: Helvetica,  Arial, sans-serif; font-size: 28px}
.text32 {font-family: Helvetica,  Arial, sans-serif; font-size: 32px}

.greenlink {font-family: Helvetica,  Arial, sans-serif; font-size: 9px; color: #00FF00}
.greenlink:link {color: #00FF00; text-decoration : none !important}
.greenlink:visited {color: #00FF00; text-decoration : none !important}
.greenlink:hover {color: #FFFF00; text-decoration : none !important}
 
.greenlink10 {font-family: Helvetica,  Arial, sans-serif; font-size: 10px; color: #00FF00}
.greenlink10:link {color: #00FF00; text-decoration : none !important}
.greenlink10:visited {color: #00FF00; text-decoration : none !important}
.greenlink10:hover {color: #FFFF00; text-decoration : none !important}
 
.greenlink12 {font-family: Helvetica,  Arial, sans-serif; font-size: 12px; color: #00FF00}
.greenlink12:link {color: #00FF00; text-decoration : none !important}
.greenlink12:visited {color: #00FF00; text-decoration : none !important}
.greenlink12:hover {color: #FFFF00; text-decoration : none !important}

.redlink {font-family: Helvetica,  Arial, sans-serif; font-size: 9px; color: #CC0000}
.redlink:link {color: #CC0000; text-decoration : none !important}
.redlink:visited {color: #CC0000; text-decoration : none !important}
.redlink:hover {color: #FF0000; text-decoration : none !important}
 
.bluelink {font-family: Helvetica,  Arial, sans-serif; font-size: 9px; color: #0033FF}
.bluelink:link {color: #0033FF; text-decoration : none !important}
.bluelink:visited {color: #0033FF; text-decoration : none !important}
.bluelink:hover {color: #0066FF; text-decoration : none !important}

.indentpara
{text-indent: 20px; text-transform: none; margin: 0px}





!these will be phased out:

.gatesmustdie7 {font-family: Arial, Helvetica, sans-serif; font-size: 5px}
.gatesmustdie8 {font-family: Arial, Helvetica, sans-serif; font-size: 6px}
.gatesmustdie9 {font-family: Arial, Helvetica, sans-serif; font-size: 7px}
.gatesmustdie10 {font-family: Arial, Helvetica, sans-serif; font-size: 8px}
.gatesmustdie12 {font-family: Arial, Helvetica, sans-serif; font-size: 9px}
.gatesmustdie14 {font-family: Arial, Helvetica, sans-serif; font-size: 10px}
.gatesmustdie16 {font-family: Arial, Helvetica, sans-serif; font-size: 13px} 
.gatesmustdie18 {font-family: Arial, Helvetica, sans-serif; font-size: 14px}
.gatesmustdie20 {font-family: Arial, Helvetica, sans-serif; font-size: 16px}
.gatesmustdie24 {font-family: Arial, Helvetica, sans-serif; font-size: 18px}
.gatesmustdie28 {font-family: Arial, Helvetica, sans-serif; font-size: 20px}
.gatesmustdie32 {font-family: Arial, Helvetica, sans-serif; font-size: 24px}


.gatesmustdieH7 {font-family:Helvetica,  Arial, sans-serif; font-size: 5px}
.gatesmustdieH8 {font-family: Helvetica,  Arial, sans-serif; font-size: 6px}
.gatesmustdieH9 {font-family: Helvetica,  Arial, sans-serif; font-size: 7px}
.gatesmustdieH10 {font-family: Helvetica,  Arial, sans-serif; font-size: 8px}
.gatesmustdieH12 {font-family: Helvetica,  Arial, sans-serif; font-size: 9px}
.gatesmustdieH14 {font-family: Helvetica,  Arial, sans-serif; font-size: 10px}
.gatesmustdieH16 {font-family: Helvetica,  Arial, sans-serif; font-size: 13px} 
.gatesmustdieH18 {font-family: Helvetica,  Arial, sans-serif; font-size: 14px}
.gatesmustdieH20 {font-family: Helvetica,  Arial, sans-serif; font-size: 16px}
.gatesmustdieH24 {font-family: Helvetica,  Arial, sans-serif; font-size: 18px}
.gatesmustdieH28 {font-family: Helvetica,  Arial, sans-serif; font-size: 20px}
.gatesmustdieH32 {font-family: Helvetica,  Arial, sans-serif; font-size: 24px}